.game {
  width: 100vw;
  height: 100vh;
  display: flex;

  .panel {
    //height: 100%;
    flex: 70% 0 0;

    .hero {
      height: 50%;
      width: 100%;
      border-bottom: 2px solid black;

      .hp-bar {
        height: 100%;
        width: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .hp-column {
          width: 70px;

          border: 1px solid black;
          height: 300px;
          margin: 15px;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          .hp-column-inner {
            width: 100%;
            background-color: red;
            border-radius: 15px;
          }
        }
      }

      .hero-image {
        width: 90%;
      }
    }
  }

  .sidebar {
    flex: 30% 0 0;
    border-left: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .recipe-book {
      flex: 100% 0 0;
      position: relative;

      .recipes {
        width: 300px;
        height:300px;
        position: absolute;
        left: -310px;
        border: 1px solid black;
        background-color: #e9d0a3;
        border-radius: 10px;
        padding: 10px;
      }

    }

    .couldron {
      height: 300px;
      width: 300px;
      background-color: black;
      margin: 30px;
    }

    .potion-list {
      flex: 100% 0 0;
      height: 50px;
      display: flex;
      justify-content: center;

      .potion {
        margin: 3px;
        width: 50px;
        border: 1px solid black;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .ingridient-list {
      margin-top: 50px;
      height: 200px;
      width: 170px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .ingridient {
        height: 50px;
        width: 50px;
        border: 1px solid black;
        margin: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}