$cell-bg: rgba(59, 31, 65, 0.58);

.game {
  width: 100vw;
  height: 100vh;
  display: flex;

  .panel {
    //height: 100%;
    flex: 70% 0 0;

    .hero {
      height: 50%;
      width: 100%;
      border-bottom: 2px solid black;

      .hp-bar {
        height: 100%;
        width: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .hp-column {
          width: 70px;

          border: 1px solid black;
          height: 300px;
          margin: 15px;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          .hp-column-inner {
            width: 100%;
            background-color: red;
            border-radius: 15px;
          }
        }
      }

      .hero-image {
        width: 90%;
      }
    }
  }

  .sidebar {
    flex: 30% 0 0;
    padding: 10px 10px 10px 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: url('/static/images/SidePanBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .recipe-book {
      flex: 100% 0 0;
      position: relative;

      .recipes {
        width: 500px;
        height: 600px;
        position: absolute;
        left: -550px;
        border: 1px solid black;
        background-color: #e9d0a3;
        border-radius: 10px;
        padding: 10px;
      }

    }

    .couldron {
      height: 300px;
      width: 300px;
      background-color: black;
      margin: 30px;
    }

    .potion-list {
      flex: 100% 0 0;
      display: flex;
      justify-content: center;

      .potion {
        cursor: pointer;
        margin: 3px;
        width: 70px;
        height: 70px;
        border-radius: 7px;
        border: 3px solid #682083;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $cell-bg;
        color: rgba(0, 0, 0, 0);
        transition: color 600ms;

        .text {
          user-select: none;
        }

        &:hover {
          color: white;
        }
      }
    }

    .ingridient-list {
      margin-top: 50px;
      height: 270px;
      width: 300px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .ingridient {
        cursor: pointer;
        height: 90px;
        width: 90px;
        border: 3px solid #0a593a;
        margin: 3px 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $cell-bg;
        color: rgba(0, 0, 0, 0);
        transition: color 600ms;

        .text {
          user-select: none;
        }

        &:hover {
          color: white;
        }
      }
    }
  }
}