.hero {
  height: 50%;
  width: 100%;
  position: relative;
  .hp-bar {
    z-index: 1;
    height: 100%;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;

    .hp-column {
      width: 70px;

      border: 1px solid black;
      height: 300px;
      margin: 15px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .hp-column-inner {
        width: 100%;
        background-color: red;
        border-radius: 15px;
      }
    }
  }

  .hero-image {
    width: 103%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

    &.mirror {
      transform: rotateY(180deg);
    }

    &.elf {
      background-image: url('/static/images/elf.png');
    }

    &.orc {
      background-image: url('/static/images/orc.png');
    }
  }
}