.ingridient-list {
  margin-top: 10px;
  height: 270px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .ingridient-wrapper {
    cursor: pointer;
    height: 90px;
    width: 90px;
    border: 3px solid #0a593a;
    margin: 3px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $cell-bg;
    color: rgba(0, 0, 0, 0);
    transition: color 600ms;

    .ingridient {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;


      .text {
        font-size: 17px;
        user-select: none;
        text-align: center;
      }

      &.fire {
        background: url('/static/images/fire.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/fire.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.water {
        background: url('/static/images/water.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/water.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.ground {
        background: url('/static/images/ground.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/ground.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.air {
        background: url('/static/images/air.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/air.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.alcohol {
        background: url('/static/images/alcohol.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/alcohol.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.arrow {
        background: url('/static/images/arrow.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/arrow.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.battlecry {
        background: url('/static/images/battlecry.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/battlecry.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.coal {
        background: url('/static/images/coal.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/coal.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.crystal {
        background: url('/static/images/crystal.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/crystal.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.dark-matter {
        background: url('/static/images/dark-matter.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/dark-matter.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.dragon {
        background: url('/static/images/dragon.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/dragon.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.leader {
        background: url('/static/images/leader.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/leader.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.leaf {
        background: url('/static/images/leaf.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/leaf.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.metal {
        background: url('/static/images/metal.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/metal.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.meteorite {
        background: url('/static/images/meteorite.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/meteorite.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.moon-prism {
        background: url('/static/images/moon-prism.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/moon-prism.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.nuke {
        background: url('/static/images/nuke.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/nuke.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.nuke {
        background: url('/static/images/potato.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/potato.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.sand {
        background: url('/static/images/sand.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/sand.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.shrooms {
        background: url('/static/images/shrooms.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/shrooms.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.star-energy {
        background: url('/static/images/star-energy.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/star-energy.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.unicorn {
        background: url('/static/images/unicorn.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/unicorn.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    &:hover {
      color: white;
    }
  }
}