.ingridient-list {
  margin-top: 10px;
  height: 270px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .ingridient-wrapper {
    cursor: pointer;
    height: 90px;
    width: 90px;
    border: 3px solid #0a593a;
    margin: 3px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $cell-bg;
    color: rgba(0, 0, 0, 0);
    transition: color 600ms;

    .ingridient {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;


      .text {
        font-size: 17px;
        user-select: none;
        text-align: center;
      }

      &.fire {
        background: url('/static/images/fire.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/fire.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.water {
        background: url('/static/images/water.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/water.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.ground {
        background: url('/static/images/ground.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/ground.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.air {
        background: url('/static/images/air.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/air.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.alcohol {
        background: url('/static/images/alcohol.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/alcohol.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.arrow {
        background: url('/static/images/arrow.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/arrow.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.battlecry {
        background: url('/static/images/battlecry.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/battlecry.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.coal {
        background: url('/static/images/coal.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/coal.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.crystal {
        background: url('/static/images/crystal.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/crystal.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.dark-matter {
        background: url('/static/images/dark-matter.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/dark-matter.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.dragon {
        background: url('/static/images/dragon.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/dragon.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.leader {
        background: url('/static/images/leader.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/leader.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.leaf {
        background: url('/static/images/leaf.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/leaf.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.metal {
        background: url('/static/images/metal.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/metal.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.meteorite {
        background: url('/static/images/meteorite.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/meteorite.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.moon-prism {
        background: url('/static/images/moon-prism.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/moon-prism.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.nuke {
        background: url('/static/images/nuke.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/nuke.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.nuke {
        background: url('/static/images/potato.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/potato.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.sand {
        background: url('/static/images/sand.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/sand.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.shrooms {
        background: url('/static/images/shrooms.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/shrooms.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.star-energy {
        background: url('/static/images/star-energy.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/star-energy.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.unicorn {
        background: url('/static/images/unicorn.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/unicorn.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.ancestor {
        background: url('/static/images/ancestor.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/ancestor.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.blood-opponent {
        background: url('/static/images/blood-opponent.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/blood-opponent.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.blood-own {
        background: url('/static/images/blood-own.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/blood-own.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.dust {
        background: url('/static/images/dust.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/dust.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.fabric {
        background: url('/static/images/fabric.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/fabric.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.glycerol {
        background: url('/static/images/glycerol.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/glycerol.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.goo {
        background: url('/static/images/goo.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/goo.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.holy-leaf {
        background: url('/static/images/holy-leaf.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/holy-leaf.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.magic-dust {
        background: url('/static/images/magic-dust.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/magic-dust.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.particle {
        background: url('/static/images/particle.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/particle.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.petrol {
        background: url('/static/images/petrol.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/petrol.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.powder {
        background: url('/static/images/powder.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/powder.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.salary {
        background: url('/static/images/salary.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/salary.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.salt {
        background: url('/static/images/salt.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/salt.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.satellite {
        background: url('/static/images/satellite.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/satellite.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.silk {
        background: url('/static/images/silk.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/silk.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.singularity {
        background: url('/static/images/singularity.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/singularity.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.skull {
        background: url('/static/images/skull.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/skull.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.soul {
        background: url('/static/images/soul.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/soul.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.stardust {
        background: url('/static/images/stardust.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/stardust.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.time {
        background: url('/static/images/time.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/time.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.wheat {
        background: url('/static/images/wheat.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/wheat.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.wolf {
        background: url('/static/images/wolf.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/wolf.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    &:hover {
      color: white;
    }
  }
}