.sidebar {
  flex: 30% 0 0;
  padding: 10px 10px 10px 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: url('/static/images/SidePanBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}